<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
</head>

<body style="height: 100vh;">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)"  novalidate>
                <h1>Reset Password</h1>
                <input type="password" class="password" placeholder="Enter Password" name="password" #password="ngModel"
                    ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,}$">
                <p style="color: red; margin: 0; margin-bottom: 10px;"
                    *ngIf="password.errors?.['required'] && password.touched">*Enter password</p>
                <p style="color: red; margin: 0; margin-bottom: 10px;"
                    *ngIf="password.errors?.['pattern'] && password.dirty">*Invalid password</p>
                <button [disabled]="!resetForm.valid">Reset</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Forget Your Password?</h1>
                    <p>Dont worry, just reset it with a otp</p>
                </div>
            </div>
        </div>
    </div>
</body>