<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
</head>

<body style="height: 100vh;">
    <div class="container right-panel-active" id="container">
        <div class="form-container sign-up-container">
            <form #register2Form="ngForm" (ngSubmit)="show(register2Form.value)" novalidate>
                <h1>One More Step</h1>
                <input type="text" class="name" value="{{name}}" disabled>
                <input type="text" class="email" value="{{emailId}}" disabled>
                <input type="password" class="password" placeholder="Enter Password" name="password" #password="ngModel" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,}$">
                <p style="color: red; margin: 0; margin-bottom: 10px;" *ngIf="password.errors?.['required'] && password.touched">*Enter password</p>
                <p style="color: red; margin: 0; margin-bottom: 10px;" *ngIf="password.errors?.['pattern'] && password.dirty">*Invalid password</p>
                <button [disabled]="!register2Form.valid">Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                </div>
            </div>
        </div>
    </div>
</body>