<head>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
</head>
<body style="height: 100vh;">
	<div class="container" [class.right-panel-active]="isRightPanelActive" id="container">
		<div class="form-container sign-up-container">
			<form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm.value)" novalidate>
				<h1>Create Account</h1>
				<input type="text" placeholder="Enter Full Name" name="name" #name="ngModel" ngModel required>
				<p style="color: red;" *ngIf="name.errors?.['required'] && name.touched">*Enter Your Name</p>
				<input type="text" placeholder="Enter Email" name="emailId" #emailId="ngModel" ngModel required pattern="^[\w\.-]+@[A-Za-z\d\.-]+\.[A-Za-z]{2,}(?:\.[a-zA-Z]{2,})?$">
				<p style="color: red;" *ngIf="emailId.errors?.['required'] && emailId.touched">*Enter Email-ID</p>
            	<p style="color: red;" *ngIf="emailId.errors?.['pattern'] && emailId.dirty">*Invalid email format</p>
				<input type="number" placeholder="Enter Mobile Number" (input)="onMobileInput($event)" name="mobile" #mobile="ngModel" ngModel required pattern="^[5-9]\d{9}">
				<p style="color: red; margin-bottom: 5px;" *ngIf="mobile.errors?.['required'] && mobile.touched">*Enter mobile no.</p>
				<p style="color: red; margin-bottom: 5px;" *ngIf="mobile.errors?.['pattern'] && mobile.dirty">*Invalid mobile no.</p>
				<div class="check">
					<input type="checkbox" class="checkbox">
					<p>I agree to the <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a> and <a href="#">Content Policies</a></p>
				</div>
				<button>Generate OTP</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
				<h1>Sign in</h1>
				<input type="number" placeholder="Mobile Number" (input)="onMobileInput($event)" name="mobile1" #mobile1="ngModel" ngModel required pattern="^[5-9]\d{9}">
				<p style="color: red; margin-bottom: 5px;" *ngIf="mobile1.errors?.['required'] && mobile1.touched">*Enter mobile no.</p>				
				<p style="color: red; margin-bottom: 5px;" *ngIf="mobile.errors?.['pattern'] && mobile.dirty">*Invalid mobile no.</p>
				<button>Generate OTP</button>
				<p style="margin-top: 10px;">Login with <a href="/loginwithgmail" style="color: rgb(193, 16, 16);">EmailId</a></p>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
                    <button (click)="togglePanel()" class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and <br>join with us</p>
                    <button (click)="togglePanel()" class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</body>
<router-outlet></router-outlet>