<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <span class="big-circle"></span>
        <img src="assets\images\shape.png" class="square" alt="" />
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Let's get in touch</h3>
                <br><br><br><br>
                <div class="info">
                    <div class="information">
                        <img src="assets\images\location.png" class="icon" alt="" />
                        <p>Talent Sprint, PSR Prime Towers, Gachibowli</p>
                    </div>
                    <div class="information">
                        <img src="assets\images\email.png" class="icon" alt="" />
                        <p>fsd.support@talentsprint.com</p>
                    </div>
                    <div class="information">
                        <img src="assets\images\phone.png" class="icon" alt="" />
                        <p>7989326391</p>
                    </div>
                </div>

                <div class="social-media">
                    <p>Connect with us :</p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>

                <form #EmailForm="ngForm" (ngSubmit)="sendEmail(EmailForm.value)" novalidate>
                    <h3 class="title">Contact us</h3>
                    <div class="input-container">
                        <input type="text" name="name" #name="ngModel" ngModel required class="input"
                            (focus)="focusFunc($event)" (blur)="blurFunc($event)" />
                        <label for="">Username</label>
                        <span>Username</span>
                        <p style="color: red; font-size: 14px;" *ngIf="name.errors?.['required'] && name.touched">*Enter
                            Your Name</p>
                    </div>
                    <div class="input-container">
                        <input type="email" name="emailId" #emailId="ngModel" ngModel required
                            pattern="^[\w\.-]+@[A-Za-z\d\.-]+\.[A-Za-z]{2,}(?:\.[a-zA-Z]{2,})?$" class="input"
                            (focus)="focusFunc($event)" (blur)="blurFunc($event)" />
                        <label for="">Email</label>
                        <span>Email</span>
                        <p style="color: red; font-size: 14px;" *ngIf="emailId.errors?.['required'] && emailId.touched">*Enter Email-ID
                        </p>
                        <p style="color: red; font-size: 14px;" *ngIf="emailId.errors?.['pattern'] && emailId.dirty">*Invalid email
                            format</p>
                    </div>
                    <!-- <div class="input-container">
                        <input type="tel" name="phone" class="input" (focus)="focusFunc($event)" (blur)="blurFunc($event)" />
                        <label for="">Phone</label>
                        <span>Phone</span>
                    </div> -->
                    <div class="input-container textarea">
                        <textarea name="message" #message="ngModel" ngModel required class="input"
                        (focus)="focusFunc($event)" (blur)="blurFunc($event)"></textarea>
                        <label for="">Message</label>
                        <span>Message</span>
                        <p style="color: red; font-size: 14px;" *ngIf="message.errors?.['required'] && message.touched">*Enter
                            Your Message</p>
                    </div>
                    <input type="submit" value="Send" class="btn" [disabled]="!EmailForm.valid"/>
                </form>
            </div>
        </div>
    </div>
</body>