body{
    display: grid;
    place-items: center;
    height: 90vh;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.input label{
    font-weight: 500;
}
.input input{
    border: none;
    outline: none;
    border: 1px solid ;
    border-radius: 5px;
    padding: 8px 30px 8px 10px ;
    width: 300px;
    overflow: scroll;
}
.button{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.button button{
    border: none;
    color: white;
    background-color: blueviolet;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.button button:hover{
    background-color: rgb(103, 33, 169);
}
.none{
    display: none;
}
.block{
    display: block;
}