<body>
    <div class="main">
      <div class="input">
        <label for="username">User Name:</label>
        <input type="text" name="username" [(ngModel)]="userData.userName" [disabled]="!isEditing">
      </div>
      <div class="input">
        <label for="mobile">Mobile Number:</label>
        <input type="text" name="mobile" [(ngModel)]="userData.mobileNumber" [disabled]="!isEditing">
      </div>
      <div class="input">
        <label for="emailId">EmailId:</label>
        <input type="text" name="emailId" [(ngModel)]="userData.emailId" [disabled]="!isEditing">
      </div>
      <div class="input">
        <label for="password">Password:</label>
        <input type="password" name="password" [(ngModel)]="userData.password" [disabled]="!isEditing">
      </div>
      <div class="button">
        <button *ngIf="!isEditing" (click)="edit()">Edit</button>
        <button *ngIf="isEditing" (click)="update()">Update</button>
      </div>
    </div>
  </body>
  