<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Restraunt</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody class="table table-striped">
            <tr *ngFor="let restaurant of Restaurants; let i = index">
                <td>{{i+1}}</td>
                <td>{{restaurant.Restraunt}}</td>
                <td>{{restaurant.Date}}</td>
            </tr>
        </tbody>
    </table>
</body>