<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main">
        <nav>
            <ul>
                <li><a href="#">Add Restaurent</a></li>
                <li><a routerLink="register">Sign Up</a></li>
                <li style="margin-right: 150px;"><a routerLink="login">Login</a></li>
            </ul>
        </nav>
        <main>
            <h1>Dine in Style</h1>
            <h2>Where memorable meals meet restful nights.</h2>
        </main>
    </div>
</body>
<app-footer></app-footer>
