*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
body a{
    text-decoration: none;
}
body a:hover{
    text-decoration: none;
}
.main a:visited{
    color: white;
    text-decoration: none;
}
.main{
    min-height: 100vh;
    background:url('src\assets\images\pexels-leslie-torres-12087878.jpg') center/cover no-repeat;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.5);
}
nav ul{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul li{
    /* color: white; */
    list-style: none;
    margin-right: 80px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;

}
nav ul li a:hover{
    color: white;
}
main{
    width: 600px;
    margin: 200px auto;
    color: white;
}
main h1{
    font-size: 65px;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bolder;
}
main h2{
    font-size: 30px;
    text-align: center;
}