<body>
    <header>
        <div class="logo">
            <img src="assets\images\logo.png" alt="Your Logo">
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a routerLink="/homepage">Home</a></li>
                <li class="nav-item"><a routerLink="/homepage/aboutus">About Us</a></li>
                <li class="nav-item"><a routerLink="/homepage/restaurentlist">Restaurants</a></li>
                <li class="nav-item"><a routerLink="/homepage/hotellist">Hotels</a></li>
                <li class="nav-item" style="margin-right: 100px;"><a routerLink="/homepage/contactus">contact us</a></li>
                <li class="nav-item"><a routerLink="/homepage/profile">profile</a></li>
                <li class="nav-item"><a routerLink="/homepage/logout">logout</a></li>
            </ul>
        </nav>
    </header>
</body>