* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.logo img {
    height: 150px;
    width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    display: flex;
    align-items: center;
    gap: 50px
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 40px;
    padding: 0;
}

nav ul li {
    font-size: 18px;
}