<head>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header>
            <i class="bx bxs-check-shield"></i>
        </header>
        <h4>Enter OTP Code</h4>
        <form>
            <div class="input-field">
                <input type="number" #input1>
                <input type="number" #input2 disabled>
                <input type="number" #input3 disabled> 
                <input type="number" #input4 disabled>
            </div>
            <br>
            <p>Didn't recieve OTP? Resend</p>
            <button #button (click)="readInputValues()">Verify OTP</button>
        </form>
    </div>
</body>