<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Hotel</th>
                <th>Suiteroom</th>
                <th>Date</th>
                <th>Days</th>
            </tr>
        </thead>
        <tbody class="table table-striped">
            <tr *ngFor="let hotel of hotels; let i = index">
                <td>{{i+1}}</td>
                <td>{{hotel.hotel}}</td>
                <td>{{hotel.Suiteroom}}</td>
                <td>{{hotel.Date}}</td>
                <td>{{hotel.Days}}</td>
            </tr>
        </tbody>
    </table>
</body>