<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <footer>
        <div class="f-head">
           <h1>Dine in Style</h1>
           <div class="f-head2">
               <div class="india" style="margin-right: 10px;">
                   <img src="assets\images\INDIAN-FLAG.png" alt="Indian Flag" style="height: 20px; width: 20px;border-radius: 2px;">
                   <p style="margin-left: 3px;">INDIA</p>
               </div>
               <div class="lang">
                   <select>
                       <option>English</option>
                       <option>Hindi</option>
                   </select>
               </div>
           </div>
       </div>
       <div class="f-main">
           <div>
               <h4>ABOUT US</h4>
               <div class="about">
                   <a href="#">Who We Are</a>
                   <a href="#">Blog</a>
                   <a href="#">Report Fraud</a>
                   <a href="#">Contact Us</a>
               </div>
           </div>
           <div>
               <h4>FOR RESTAURANTS</h4>
               <div class="restaurant">
                   <a href="#">Partner With Us</a>
               </div>
           </div>
           <div>
               <h4>LEARN MORE</h4>
               <div class="learn">
                   <a href="#">Privacy</a>
                   <a href="#">Terms</a>
                   <a href="#">Security</a>
               </div>
           </div>
           <div class="social">
               <h4>SOCIAL LINKS</h4>
               <a href="#" class="fa fa-linkedin"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-instagram"></a>
               <a href="#" class="fa fa-youtube"></a>
           </div>
       </div>
    </footer>    
</body>