<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
</head>

<body style="height: 100vh;">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form #loginbyemailForm="ngForm" (ngSubmit)="login(loginbyemailForm.value)" novalidate>
                <h1>Sign in</h1>
                <input type="text" placeholder="Enter Email" name="emailId" #emailId="ngModel" ngModel required
                    pattern="^[\w\.-]+@[A-Za-z\d\.-]+\.[A-Za-z]{2,}(?:\.[a-zA-Z]{2,})?$">
                <p style="color: red;" *ngIf="emailId.errors?.['required'] && emailId.touched">*Enter Email-ID</p>
                <p style="color: red;" *ngIf="emailId.errors?.['pattern'] && emailId.dirty">*Invalid email format</p>
                <input type="password" class="password" placeholder="Enter Password" name="password" #password="ngModel"
                    ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d]).{8,}$">
                <p style="color: red; margin: 0; margin-bottom: 10px;"
                    *ngIf="password.errors?.['required'] && password.touched">*Enter password</p>
                <p style="color: red; margin: 0; margin-bottom: 10px;"
                    *ngIf="password.errors?.['pattern'] && password.dirty">*Invalid password</p>
                <ngx-recaptcha2 #captchaElem [(ngModel)]="captchaResponse" [siteKey]="siteKey" name="recaptcha"
                    required></ngx-recaptcha2>
                <input type="hidden" [(ngModel)]="captchaResponse" name="recaptcha" #recaptchaInput="ngModel">
                <p style="color: red; margin: 0; margin-bottom: 10px;"
                    *ngIf="recaptchaInput.invalid && (recaptchaInput.dirty || recaptchaInput.touched)">
                    Please complete the reCAPTCHA.
                </p>
                <p><a routerLink="forgotPassword" style="color: rgb(193, 16, 16);position: relative;left: 75px;">Forgot Password?</a>
                </p>
                <button [disabled]="!loginbyemailForm.valid">login</button>
                <p style="margin-top: 10px;">Login with <a routerLink="/login" style="color: rgb(193, 16, 16);">OTP</a>
                </p>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>