<body>
    <div>
        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <img src="assets\images\food1.jpeg" class="d-block w-100 c-img" alt="Slide 1">
                    <div class="carousel-caption top-0 mt-4">
                        <p class="mt-5 fs-3 text-uppercase">Discover the delicious food</p>
                        <h1 class="display-1 fw-bolder text-capitalize">Restaurants</h1>
                        <button class="btn btn-secondary px-4 py-2 fs-5 mt-5" (click)="foodnavigate()">Book your table</button>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="assets\images\bed1.jpeg" class="d-block w-100 c-img" alt="Slide 2">
                    <div class="carousel-caption top-0 mt-4">
                        <p class="text-uppercase fs-3 mt-5">The season has arrived</p>
                        <p class="display-1 fw-bolder text-capitalize"> Available Rooms</p>
                        <button class="btn btn-secondary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal" (click)="hotelnavigate()">Book your
                            room</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="restaurant">
        <h2><a routerLink="restaurentlist">Recommended Restaurants:</a></h2>
        <div style="margin-top: 5px; display: flex">
            <div class="box" *ngFor="let restaurant of restaurants" (click)="showrestaurants(restaurant)">
                <div class="image">
                    <img src="{{restaurant.img}}" alt="hotel" height="180px" width="100%">
                </div>
                <div class="matter">
                    <div class="name">
                        <h5>{{restaurant.name}}</h5>
                        <p>{{restaurant.cusine}}</p>
                    </div>
                    <div class="rating">
                        <p class="hotel-rating"><b>{{restaurant.rating}} ★</b></p>
                        <p class="money">₹{{restaurant.cost}} per person</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hotel">
        <h2><a routerLink="hotellist">Recommended Hotels:</a></h2>
        <div style="margin-top: 5px; display: flex">
            <div class="box" *ngFor="let hotel of hotels" (click)="showhotels(hotel)">
                <div class="image">
                    <img src="{{hotel.img1}}" alt="hotel" height="180px" width="100%">
                </div>
                <div class="matter">
                    <div class="name">
                        <h5>{{hotel.name}}</h5>
                        <p style="font-size:20px ;">{{hotel.stars}}</p>
                    </div>
                    <div class="rating">
                        <p class="hotel-rating" style="background-color: #003B95; width: 45px;"><b>{{hotel.rating}}</b></p>
                        <p class="money">₹{{hotel.cost}} per person</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card" style="margin-left: 30PX;">
            <img src="assets\images\best chef.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Master Chefs</h5>
                <p class="card-text">Meet our team of master chefs, culinary maestros dedicated to crafting
                    extraordinary
                    dining experiences, where passion meets precision in every dish they create.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets\images\quality food.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Quality Food</h5>
                <p class="card-text">Savor the finest in every bite - our commitment to quality food means sourcing
                    locally,
                    preparing with expertise, and delivering a taste that surpasses expectations.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets\images\best hotel.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Hotel</h5>
                <p class="card-text">Discover a home away from home in our spacious hotel rooms, offering modern
                    amenities
                    and a tranquil ambiance for a perfect retreat.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets\images\contact us.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">For inquiries and assistance,Reach out to us anytime. We're here to help! Contact
                    us at
                    [gnaneshvarra@gmail.com].</p>
            </div>
        </div>
    </div>
</body>
