.c-img {
  height: 610px;
  object-fit: cover;
  filter: brightness(0.6);
}
.cards-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.cards-wrapper h5 {
  text-decoration: underline;
  text-align: center;
}
.card {
  height: 400px;
  width: 300PX;
  margin-right: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.card img {
  height: 200px;
}
.restaurant, .hotel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}
.restaurant a, .hotel a {
  text-decoration: none;
  color: black;
}
.box {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 45px;
  margin-bottom: 30px;
  cursor: pointer;
}
.image{
  border-radius: 10px;
  overflow: hidden;
}
.image img{
  transition: all 0.3s ease;
}
.image:hover img{
  transform: scale(1.1);
  filter: brightness(0.9);
}
.matter {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  line-height: 15px;
}
.rating{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.hotel-rating{
  height: 30px;
  width: 60px;
  background-color: darkgreen;
  color: white ;
  padding-top: 7px;
  border-radius: 10px;
}
