<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="heading">
        <div class="left">
            <h2>
                <p style="color: palevioletred"><b>ABOUT US</b></p>
            </h2>
            <!-- <h1>Don't Wait</h1> --><br>
            <p style="color: blanchedalmond;font-size: medium; font-size: 20px;">"At Dine In Style, we are passionate about creating
                exceptional<br> experiences in the world of hotels and restaurants. With a <br>dedication to unmatched
                quality, innovation, and warm <br>hospitality, we strive to redefine luxury, one guest at a time."</p>
            <!-- <button>Check out Menu</button> -->
        </div>
        <div class="right" id="food"></div>
        <div class="SocialMedia">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </div>
    <div class="bottom">
        <div class="menu">
            <div id="food1"></div>
            <div id="food2"></div>
        </div>
    </div>
</body>