body{
    background-color: #EEEEEE;
    min-height: 100vh;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 0;
}
header{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-group {
    width: 250px;
}
.lab {
    background-color: #ffffff;
    border: none;
}
.form-select,.form-control {
    border: none;
}
.form-select:focus, .form-control:focus {
    box-shadow: none;
    border: none;
}
.btn{
    transition: all 0.3s ease;
}
.btn:active{
    transform: scale(0.95);
}
.box{
    height: 250px;
    width: 900px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.img{
    height: 220px;
    width: 300px;
    overflow: hidden;
}
.img img{
    height: 220px;
    width: 300px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.img:hover img{
    transform: scale(1.1);
}
.hotel-name h4{
    width: 350px;
}
.details{
    width: 400px;
    line-height: 1;
}
.booking{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rating{
    display: flex;
    justify-content: space-between;
}
.review{
    line-height: 0.2;
    align-self: flex-start;
}
.rate{
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 3px;
    background-color: #003B95;
    color: white;
    font-weight: 500;
}
.book{
    line-height: 1;
    text-align: end;
}
.book p{
    font-size: 13px;
}
.book p:nth-child(1){
    margin-bottom: 5px;
}
.book s{
    color: red;
}
.book button{
    background-color: #006CE4;
    color: white;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.book button:hover{
    background-color: #003B95;
}
