<body>
    <div class="main">
        <header class="mb-3">
            <h3 class="fw-bold mb-2">HYDERBAD:</h3>
            <div class="search">
                <div class="input-group mb-3">
                    <label class="input-group-text lab" for="inputGroupSelect01">Sort By</label>
                    <select class="form-select sel" id="inputGroupSelect01" >
                      <option selected>Popularity</option>
                      <option>High Rating</option>
                      <option>Low cost</option>
                      <option>High cost</option>
                    </select>
                </div>
                <div class="d-flex align-self-lg-start">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </header>
        <main>
            <div class="box d-flex mb-4" *ngFor="let hotel of hotels">
                <div class="img me-3">
                    <img src="{{hotel.img1}}">
                </div>
                <div class="details">
                    <div class="hotel-name">
                        <h4>{{hotel.name}} {{hotel.stars}}</h4>
                        <div class="map d-flex">
                            <a href="{{hotel.maplink}}" target="_blank" class="me-2">Show on map</a>
                            <p>{{hotel.distance}} from center</p>
                        </div>
                        <p>&#10004; Free Cancellation</p>
                        <p>&#10004; No Prepayment Required</p>
                    </div>
                </div>
                <div class="booking">
                    <div class="rating">
                        <div class="review">
                            <h6>{{hotel.rating | review}}</h6>
                            <p>{{hotel.reviwers}} reviews</p>
                        </div>
                        <p class="rate">{{hotel.rating}}</p>
                    </div>
                    <div class="book">
                        <p>1 night, 1 adult</p>
                        <s>{{hotel.rate}}</s><h5>₹{{hotel.disrate}}</h5>
                        <p>+₹{{hotel.tax}} taxes and charges</p>
                        <button (click)="availabilty(hotel)">See Availability ></button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>