<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="one">
            <h2 style="color: black ;">
                {{hotel.name}} {{hotel.stars}}
            </h2>
            <p><span style="color: blue;" class="glyphicon glyphicon-map-marker"></span> {{hotel.location}}  -- <a href="{{hotel.maplink}}" target="_blank">Show Map</a></p>
        </div>
        <div class="box">
            <div class="img1">
                <img src="{{hotel.img1}}" height="295px" width="480px" style="margin-bottom: 10px;">
                <img src="{{hotel.img2}}" height="295px" width="480px">
            </div>
            <div class="img2">
                <img src="{{hotel.img3}}" height="600px" width="510px">
            </div>
        </div>
        <div class="facilities">
            <div class="facility-box" *ngFor="let facility of facilties">
                <img src="{{facility.img}}" height="40px" width="40px">
                <p>{{facility.name}}</p>
            </div>
        </div>
        <p class="desc">Set within {{hotel.distance}} km of Nehru Zoological Park and 16 km of Chowmahalla Palace, Hotel Lake View Airport zone
            features
            rooms in Hyderabad. Featuring a terrace, the 3-star hotel has air-conditioned rooms with free WiFi, each
            with a
            private bathroom. The accommodation offers room service, a 24-hour front desk and currency exchange for
            guests.

            The units at the hotel come with a seating area and a flat-screen TV with cable channels. All rooms come
            with a
            kettle, while selected rooms here will provide you with a balcony and others also have city views.

            A vegetarian breakfast is available every morning at Hotel Lake View Airport zone.

            Mecca Masjid is 17 km from the accommodation, while Charminar is 17 km away. The nearest airport is Rajiv
            Gandhi
            International Airport, 5 km from Hotel Lake View Airport zone.

            Couples particularly like the location — they rated it 8.0 for a two-person trip.

            Distance in property description is calculated using © OpenStreetMap
        </p>
        <h3 style="color: rgb(90, 90, 214);"><b><u>Standard Facilities</u></b></h3>
        <p>2 single beds <span class="glyphicon glyphicon-bed"></span></p>
        <p>15m<sup>2</sup>, Landmark View</p>
        <p>Air conditioning</p>
        <p>Ensuite bathroom , Flat-screen TV</p>
        <p>Soundproofing, FreeWifi</p>
        <h3 style="color: rgb(90, 90, 214);"><b><u>Deluxe Facilities</u></b></h3>
        <p>1 extra double large bed <span class="glyphicon glyphicon-bed"></span><span class="glyphicon glyphicon-bed"></span></p>
        <p>19 m² ,BalconyLake, viewGarden</p>
        <p>Garden view, Landmark View</p>
        <p>City view, Air conditioning</p>
        <p>Ensuite bathroom, Flat-screen TV</p>
        <p>Soundproofing, Minibar</p>
        <p>Frees WiFi</p>
        <h2>Availability</h2>
        <table class="time">
            <tr>
                <td class="check-in"><button>Check-in</button><!-- <ejs-calendar></ejs-calendar> --></td>
                <td class="check-out"><button>Check-out</button></td>
                <td class="adults">
                    <select value="Adults" name="Adults">
                        <option value="">Adults </option>
                        <option value="1">Adults -1</option>
                        <option value="2">Adults -2</option>
                        <option value="3">Adults -3</option>
                        <option value="4">Adults -4</option>
                        <option value="5">Adults -5</option>
                        <option value="6">Adults -6</option>
                    </select> 
                </td>
                <td class="children">
                    <select value="Children" name="Children">
                        <option value="">Children </option>
                        <option value="1">Children -1</option>
                        <option value="2">Children -2</option>
                        <option value="3">Children -3</option>
                        <option value="4">Children -4</option>
                        <option value="5">Children -5</option>
                        <option value="6">Children -6</option>
                    </select> 
                </td>
            </tr>
        </table>
        <table class="booking">
            <thead>
                <tr>
                    <th><b>Room type</b></th>
                    <th><b>Number of Guests</b></th>
                    <th><b>Price</b></th>
                    <th><b>Select rooms</b></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: rgb(90, 90, 214);"><b><u>Standard Double Room</u></b></td>
                    <td> <span class="glyphicon glyphicon-user"></span> <span class="glyphicon glyphicon-user"></span>
                    </td>
                    <td><s style="color: red;">{{hotel.rate}}</s><br>₹{{hotel.disrate}} <br>
                        <div class="rating">
                            <p class="hotel-rating"><b>40% off</b></p>
                        </div>
                    </td>
                    <td><select id="dropdown" name="dropdown">
                            <option value="option1">0</option>
                            <option value="option2">1 ₹{{hotel.disrate}}</option>
                            <option value="option3">2 ₹2,856</option>
                            <option value="option4">3 ₹4,369</option>
                        </select></td>
                    <td><button (click)="check()">I'll reserve</button></td>
                </tr>
                <tr>
                    <td style="color: rgb(90, 90, 214);"><b><u>Deluxe King Room</u></b></td>
                    <td><span class="glyphicon glyphicon-user"></span> <span class="glyphicon glyphicon-user"></span>
                    </td>
                    <td><s style="color: red;">₹3,225</s><br>₹1,995<br>
                        <div class="rating">
                            <p class="hotel-rating"><b>40% off</b></p>
                        </div>
                    </td>
                    <td><select id="dropdown" name="dropdown">
                            <option value="option1">0</option>
                            <option value="option2">1 ₹1,995</option>
                            <option value="option3">2 ₹3,990</option>
                        </select></td>
                    <td><button (click)="check()">I'll reserve</button></td>
                </tr>
                <tr>
                    <td style="color: rgb(90, 90, 214);"><b><u>Family Room with Balcony</u></b></td>
                    <td><span class="glyphicon glyphicon-user"></span> <span class="glyphicon glyphicon-user"></span>
                    </td>
                    <td><s style="color: red;">₹3,885</s><br>₹2,331<br>
                        <div class="rating">
                            <p class="hotel-rating"><b>40% off</b></p>
                        </div>
                    </td>
                    <td><select id="dropdown" name="dropdown">
                            <option value="option1">0</option>
                            <option value="option2">1 ₹2,331</option>
                            <option value="option3">2 ₹4,662</option>
                            <option value="option3">3 ₹6,993</option>
                            <option value="option3">4 ₹9,324</option>
                            <option value="option3">5 ₹11,655</option>
                        </select></td>
                    <td><button (click)="check()">I'll reserve</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="box2">
            <p><span style="color: red;" class="glyphicon glyphicon-time"></span><b> Limited supply in Hyderabad for
                    your dates:</b> 349 three-star hotels like this are already unavailable on our site</p>
            <br>
            <p> <s><span class="glyphicon glyphicon-credit-card"></span></s><b> No credit card needed to book.</b> We'll
                send you an email confirming your reservation.</p>
        </div>
    </div>
</body>