body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
}

.main {
    width: 1000px;
}

.box {
    height: 600px;
    display: flex;
    margin-bottom: 20px;
}

.facilities {
    margin-bottom: 10px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.facility-box {
    margin-right: 10px;
    border: 1px solid rgb(192, 186, 186);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
}

.facility-box p {
    margin: 0;
    padding: 12px 10px 10px;
    font-size: 16px;
    font-weight: 500;
}

.desc {
    line-height: 1.5;
    font-size: 15px;
}

/* table{
    width: 1000px;
    height: 20px;
}
th {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}
tr {
    height: 100px;
} */
.time {
    width: 100%;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
}

.check-in button,
.check-out button,
.booking button {
    text-align: center;
    border: none;
    background-color: #006CE4;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.check-in button:hover,
.check-out button:hover,
.booking button:hover {
    background-color: #003B95;
}

.adults select,.children select,.booking select{
    padding: 10px 30px 10px 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
}

.booking{
    width: 100%;
    
}

.box2 {
    height: 80px;
    width: auto;
    border: 1px solid black;
    border-radius: 1%;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: center;
}

.hotel-rating {
    border: 1px solid;
    height: 20px;
    width: 65px;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 10px;

}

.box2{
    line-height: 1;
    margin-bottom: 50px;
}