*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
    min-height: 100vh;
    background:url("src\assets\Restaurent pics\bg-header.png") center top no-repeat;
    background-size: 100% 110%;
    background-attachment: fixed;
    flex-wrap: wrap;
}
p{
    font-weight: 500;
}
header{
    display: flex;
    padding: 10px;
    background-color: transparent;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}
header.scrolled {
    background-color: black;
}
.logo{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-left: 80px;
}
.logo img{
    height: 100px;
    width: 130px;
    transform: scale(1.5) translateX(-10px);
}
nav{
    height: auto;
    float: left;
    overflow: hidden;
    width: 700px;
    margin-right: 120px;
}
.links{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
}
.links li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
main{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hotel-name{
    height: 400px;
    width: 550px;
    margin: 80px 0 130px 150px;
}
.hotel-name h1{
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 5px;
}
.hotel-name p{
    font-size: 17px;
    margin-top: 5px;
}
.hotel-name button{
    border: none;
    border-radius: 5px;
    background-color: #dcb02c;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    letter-spacing:3px;
    transition: all 0.5s ease;
}
.hotel-name button a{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}
.hotel-name button:hover{
    background-color: grey;
}
.hotel-name button:hover a{
    color: white;
}
.title{
    display: flex;
}
.special-items{
    min-height: 700px;
    background-color: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.special-items .title{
    margin-bottom: 30px;
}
.special-items span{
    font-size: 17px;
    width: 650px;
    margin-bottom: 30px;
}
.special-items span p{
    text-align:center;
    color: #B2B2B2;
}
.special-items .title h1{
    font-size: 45px;
    font-weight: bolder;
    margin-left: 2px;
}
.special-items-pics img{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    filter: drop-shadow(0 0 10px #ffffff);
}
.about-us{
    background:url('src\assets\Restaurent pics\bg-pattern.jpg');
    padding: 100px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .title{
    width: 700px;
    margin-bottom: 30px;
}
.about .para{
    font-size: 17px;
    width: 700px;
    margin-bottom: 20px;
}
.para p{
    margin-bottom: 10px;
    line-height: 1.8;
    color: #B2B2B2;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.chef, .recipe, .ingredient{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.best-chefs{
    background-color: black;
    min-height: 700px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.best-chefs .title{
    width: 500px;
    margin-bottom: 20px;
}
.best-chefs .title h1{
    font-size: 45px;
    font-weight: bolder;
    margin-left: 5px;
}
.best-chefs span{
    font-size: 17px;
    width: 650px;
    margin-bottom:20px ;
}
.best-chefs span p{
    text-align:center;
    color: #B2B2B2;
    font-weight: 500;
}
.chef-pics{
    display: flex;
}
.chef-pics img{
    height: 400px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}
.about-chefs{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.about-chefs p{
    font-size: 17px;
    color: #B2B2B2;
    margin-top: 5px;
}
.chef-social{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    font-size: 22px;
    margin-top: 10px;
}
.chef-social li a{
    color: #dcb02c;
    transition: all 0.3s ease;
}
.chef-social li a:hover{
    color: grey;
}
.menu{
    background:url('src\assets\Restaurent pics\bg-pattern.jpg');
    padding: 100px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu .title{
    margin-bottom: 30px;
    width: 350px;
    display: flex;
    justify-content: space-around;
}
.menu h1{
    font-weight: bolder;
    font-size: 45px;
}
.menu-pics{
    width: 1202px;
}
.menu-pics img{
    height: 300px;
    width: 300px;
    padding: 10px;
    transition: all 0.3s ease;
}
.menu-pics img:hover{
    filter: brightness(0.7);
}
.gallery{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
.gallery .title{
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.gallery h1{
    font-weight: bolder;
    font-size: 45px;
}
.gallery-pics{
    display: flex;
    justify-content: center;
}
.gallery-pics img{
    height: 350px;
    width: 350px;
    margin: 20px;
    transition: all 0.3s ease;
}
.gallery-pics img:hover{
    filter: brightness(0.7);
}
.book-a-table{
    background-image: url('src\assets\Restaurent pics\bg-pattern.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
.book-a-table form{
    display: flex;
}
.book-a-table .title{
    margin-bottom: 30px;
    width: 450px;
    display: flex;
    justify-content: space-around;
}
.book-a-table .title h1{
    font-weight: bolder;
    font-size: 45px;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    height: 300px;
    width: 300px;
}
.input label{
    font-size: 13px;
    font-weight: bold;
    color: #dcb02c;
    margin-bottom: 5px;
}
.input input{
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    background-color: black ;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.input input:focus{
    border: 1px solid #dcb02c;
}
.details button{
    border: none;
    border-radius: 5px;
    background-color: #dcb02c;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
    letter-spacing:3px;
    transition: all 0.5s ease;
}
.details button:hover{
    background-color: grey;
    color: white;
}
.working-hours{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    background-color: black;
    margin-left: 30px;
}
.working-hours h3{
    font-size: 30px;
    font-weight: bolder;
    margin: 5px 0 20px;
}
.working-hours p{
    font-size: 17px;
    line-height: 25px;
}
.working-about{
    color: #B2B2B2;
}
.table-hours{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: 1px solid;
}
.contact{
    background-color: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .title{
    margin-bottom: 30px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.contact .title h1{
    font-weight: bolder;
    font-size: 45px;
}
.contact-details{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.contact-details h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.contact-details p{
    font-size: 18px;
    text-align: left;
}
.contact-details div:nth-child(2) p{
    font-size: 20px;
    color: #dcb02c;
}
.footer-social{
    list-style: none;
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    font-size: 25px;
}
.footer-social li a{
    color: #dcb02c;
    transition: all 0.3s ease;
}
.footer-social li a:hover{
    color: grey;
}