<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header [ngClass]="{'scrolled': scrolled}">
        <div class="logo">
            <img src="assets\images\logo.png">
        </div>
        <nav>
            <ul class="links">
                <li><a (click)="scrollToElement('home')">Home</a></li>
                <li><a (click)="scrollToElement('about-us')">About Us</a></li>
                <li><a (click)="scrollToElement('chefs')">Chefs</a></li>
                <li><a (click)="scrollToElement('menu')">Menu</a></li>
                <li><a (click)="scrollToElement('gallery')">Gallery</a></li>
                <li><a (click)="scrollToElement('contacts')">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hotel-name">
            <h1>{{restaurant.name | uppercase}}</h1>
            <p>Welcome to {{restaurant.name | uppercase}}, where culinary passion meets exceptional dining! Our story begins with a shared love for exquisite flavors and a commitment to creating memorable dining experiences.</p>
            <button><a (click)="scrollToElement('book-a-table')">BOOK A TABLE</a></button>
        </div>
        <div class="special-items">
            <div class="title">
                <img src="assets\Restaurent pics\bg-title.png">
                <h1>OUR SPECIAL ITEMS</h1>
            </div>
            <span>
                <p>Discover culinary perfection with our special dishes at {{restaurant.name | uppercase}}. From innovative appetizers to delectable mains, each dish is a unique blend of flavors and artistry. Elevate your dining experience and treat your palate to an unforgettable journey of taste with our carefully crafted specials.</p>
            </span>
            <div class="special-items-pics">
                <img src="{{restaurant.img1}}">
                <img src="{{restaurant.img2}}">
                <img src="{{restaurant.img3}}">
                <img src="{{restaurant.img4}}">
            </div>
        </div>
        <div class="about-us" id="about-us">
            <div class="about">
                <div class="title">
                    <img src="assets\Restaurent pics\bg-title.png">
                    <h1>GOOD FOOD FOR YOUR ALL DAY GOOD MOOD</h1>
                </div>
                <div class="para">
                    <p>Welcome to {{restaurant.name | uppercase}}, where culinary passion meets exceptional dining! Our story begins with a shared love for exquisite flavors and a commitment to creating memorable dining experiences. Nestled in the heart of {{restaurant.address}}, our restaurant is a celebration of diverse cuisines, each dish crafted with precision and a dash of creativity.</p>
                    <p>At {{restaurant.name | uppercase}}, we take pride in sourcing the freshest ingredients, ensuring that every bite is a burst of authenticity and quality. Whether you're here for a casual meal with friends or a special occasion, our warm and inviting ambiance sets the stage for a delightful gastronomic journey. Our dedicated team of chefs brings a wealth of culinary expertise to your table, curating a menu that caters to diverse palates.</p>
                    <p>From our kitchen to your plate, every dish at {{restaurant.name | uppercase}} is a labor of love, promising an unforgettable dining experience that keeps you coming back for more. Join us in savoring the art of food, where passion and flavor converge to create a symphony for your taste buds!</p>
                </div>
                <div class="icons ">
                    <div class="chef">
                        <img src="assets\Restaurent pics\advantage-1.png">
                        <p>EXPERIENCED CHEFS</p>
                    </div>
                    <div class="recipe">
                        <img src="assets\Restaurent pics\advantage-2.png">
                        <p>ORIGINAL RECIPES</p>
                    </div>
                    <div class="ingredient">
                        <img src="assets\Restaurent pics\advantage-3.png">
                        <p>FRESH INGREDIENTS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="best-chefs" id="chefs">
            <div class="title">
                <img src="assets\Restaurent pics\bg-title.png">
                <h1>OUR BEST CHEFS</h1>
            </div>
            <span>
                <p>At {{restaurant.name | uppercase}}, culinary excellence is our hallmark, thanks to the expertise of our esteemed chefs. Behind every dish is the passion and skill of our best chefs, dedicated to creating gastronomic masterpieces. Experience the artistry of flavor crafted by our talented culinary team at every visit.</p>
            </span>
            <div class="chef-pics">
                <div class="chef-all">
                    <img src="assets\Restaurent pics\chef-1.jpg">
                    <div class="about-chefs">
                        <h3>Richard Nauz</h3>
                        <p>food chef</p>
                        <ul class="chef-social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <img src="assets\Restaurent pics\chef-2.jpg">
                    <div class="about-chefs">
                        <h3>Richard Nauz</h3>
                        <p>food chef</p>
                        <ul class="chef-social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <img src="assets\Restaurent pics\chef-3.jpg">
                    <div class="about-chefs">
                        <h3>Richard Nauz</h3>
                        <p>food chef</p>
                        <ul class="chef-social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <img src="assets\Restaurent pics\chef-4.jpg">
                    <div class="about-chefs">
                        <h3>Richard Nauz</h3>
                        <p>food chef</p>
                        <ul class="chef-social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu" id="menu">
            <div class="title">
                <img src="assets\Restaurent pics\bg-title.png">
                <h1>OUR MENU</h1>
            </div>
            <div class="menu-pics">
                <img src="{{restaurant.menu}}">
                <img src="{{restaurant.img1}}">
                <img src="{{restaurant.img2}}">
                <img src="{{restaurant.img3}}">
                <img src="{{restaurant.img4}}">
                <img src="assets\Restaurent pics\product-1.jpg">
                <img src="assets\Restaurent pics\product-5.jpg">
                <img src="assets\Restaurent pics\product-7.jpg">
            </div>
        </div>
        <div class="gallery" id="gallery">
            <div class="title">
                <img src="assets\Restaurent pics\bg-title.png">
                <h1>GALLERY</h1>
            </div>
            <div class="gallery-pics">
                <img src="{{restaurant.img}}">
                <img src="{{restaurant.ambience}}">
                <img src="assets\Restaurent pics\gallery-3.jpg">
            </div>
        </div>
        <div class="book-a-table" id="book-a-table">
            <div class="title">
                <img src="assets\Restaurent pics\bg-title.png">
                <h1>BOOK A TABLE</h1>
            </div>
            <form #restaurantBookingForm="ngForm" (ngSubmit)="check(restaurantBookingForm.value)" novalidate>
                <div class="details">
                    <div style="display: flex;">
                        <div class="input-container" style="margin-right: 30px;">
                            <div class="input text">
                                <p><label for="firstname">NAME</label></p>
                                <input type="text" placeholder="First Name" id="firstname" name="firstname"
                                    #firstname="ngModel" ngModel required>
                                <p style="color: red;" *ngIf="firstname.errors?.['required'] && firstname.touched">
                                    *Enter Your First Name</p>
                            </div>
                            <div class="input text">
                                <p><label for="phone">PHONE</label></p>
                                <input type="number" placeholder="Phone" id="phone" name="mobile" #mobile="ngModel"
                                    ngModel required pattern="^[5-9]\d{9}">
                                <p style="color: red; margin-bottom: 5px;"
                                    *ngIf="mobile.errors?.['required'] && mobile.touched">*Enter mobile no.</p>
                                <p style="color: red; margin-bottom: 5px;"
                                    *ngIf="mobile.errors?.['pattern'] && mobile.dirty">*Invalid mobile no.</p>
                            </div>
                            <div class="input date">
                                <p><label for="date">DATE</label></p>
                                <input type="date" placeholder="mm-dd-yy" id="date" name="date" #date="ngModel" ngModel
                                    required>
                                <p style="color: red; margin-bottom: 5px;"
                                    *ngIf="mobile.errors?.['required'] && mobile.touched">*Enter Date</p>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="input text">
                                <p><label for="lastname">LAST NAME</label></p>
                                <input type="text" placeholder="Last Name" id="lastname" name="lastname"
                                    #lastname="ngModel" ngModel required>
                                <p style="color: red;" *ngIf="firstname.errors?.['required'] && firstname.touched">
                                    *Enter Your Last Name</p>
                            </div>
                            <div class="input text">
                                <p><label for="email">EMAIL</label></p>
                                <input type="email" placeholder="Email" id="email" name="email" #email="ngModel" ngModel
                                    required pattern="^[\w\.-]+@[A-Za-z\d\.-]+\.[A-Za-z]{2,}(?:\.[a-zA-Z]{2,})?$">
                                <p style="color: red;" *ngIf="email.errors?.['required'] && email.touched">*Enter
                                    Email-ID</p>
                                <p style="color: red;" *ngIf="email.errors?.['pattern'] && email.dirty">*Invalid email
                                    format</p>
                            </div>
                            <div class="input time">
                                <p><label for="time">TIME</label></p>
                                <input type="time" placeholder="12:00 AM" id="time" name="time" #time="ngModel" ngModel
                                    required>
                                <p style="color: red;" *ngIf="email.errors?.['required'] && email.touched">*Enter Time
                                </p>
                            </div>
                        </div>
                    </div>
                    <button id="send" [disabled]="!restaurantBookingForm.valid">Book a table</button>
                </div>
                <div class="working-hours">
                    <h3>OPENING HOURS</h3>
                    <p class="working-about">We strive to accommodate your dining needs with our flexible working hours, ensuring you can enjoy our culinary delights from opening time to closing time. Whether it's a leisurely lunch or a late dinner, we're here to serve you with a warm welcome and delicious fare.</p>
                    <div class="table-hours">
                        <p>Monday - Friday</p>
                        <p>8AM - 6PM</p>
                    </div>
                    <div class="table-hours">
                        <p>Saturday</p>
                        <p>9AM - 5PM</p>
                    </div>
                    <div class="table-hours">
                        <p>Sunday</p>
                        <p>9AM - 4PM</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="contact" id="contacts">
            <div class="title">
                <img src="assets\Restaurent pics\bg-title.png">
                <h1>CONTACT</h1>
            </div>
            <div class="contact-details">
                <div>
                    <h3><i class="fa fa-location-dot"></i>Location</h3>
                    <p> 2900 Lapeer Rd, Port Hurons</p>
                </div>
                <div>
                    <h3><i class="fa fa-phone-flip"></i>Phone</h3>
                    <p>800 478 42 51</p>
                </div>
                <div>
                    <h3><i class="fa fa-phone-flip"></i>Email</h3>
                    <p>gnanesh2001.com</p>
                </div>
                <div>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe [src]="restaurant.iframe" width="100%" height="400" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
</body>