.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    padding: 50px 10px 0;
}

.topbar {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.input-group {
    width: 250px;
}

.lab {
    background-color: #ffffff;
    border: none;
}

.form-select {
    border: none;
}

.form-select:focus {
    box-shadow: none;
    border: none;
}

.restaurant {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.img-matter {
    padding: 5px;
    display: flex;
}

.img {
    overflow: hidden;
    height: 140px;
    width: 250px;
    border-radius: 10px;
}

.img img {
    object-fit: cover;
    transition: transform 0.5s ease;
}

.img:hover img {
    transform: scale(1.1);
}

.matter {
    margin-left: 20px;
}

.booking-rating {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.rating {
    height: 30px;
    width: 55px;
    background-color: green;
    text-align: center;
    padding: 1px;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
    position: relative;
    left: 52px;
    bottom: 8px;
}
.darkgreen{
    background-color: darkgreen;  
}
.green-bg {
    background-color: green;
}
.yellowish-orange-bg {
    background-color: orange;
}
.red-bg {
    background-color: red;
}
.booking {
    border: none;
    padding: 10px 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    background-color: #FA4616;
}

.booking:active {
    transform: scale(0.95);
}