<div class="main">
    <div class="topbar">
        <h2>Restaurants</h2>
        <div class="input-group mb-3">
            <label class="input-group-text lab" for="inputGroupSelect01">Sort By</label>
            <select class="form-select sel" id="inputGroupSelect01" >
              <option selected>Popularity</option>
              <option>High Rating</option>
              <option>Low cost</option>
              <option>High cost</option>
            </select>
        </div>
    </div>
    <div class="cards">
        <div class="restaurant" *ngFor="let restaurant of restaurants">
            <div class="img-matter">
                <div class="img">
                    <img src="{{restaurant.img}}" alt="hotel img" width="250px" height="140px">
                </div>
                <div class="matter">
                    <h4>{{restaurant.name}}</h4>
                    <h6 style="margin: 10px 0 12px;">Location: {{restaurant.address}}</h6>
                    <p>Cost per person &nbsp;₹{{restaurant.cost}} approx <br>{{restaurant.cusine}}</p>
                </div>
            </div>
            <div class="booking-rating">
                <div [ngClass]="getRatingBackgroundColor(restaurant.rating)" class="rating">{{restaurant.rating}} ★</div>
                <button class="booking" (click)="navigate(restaurant)">Book A Table</button>
            </div>
        </div>
    </div>
</div>