<body>
    <div class="headings">
        <div class="heading">
            <h3 style="border: 1px solid; margin-top: 20px;"><a routerLink="/homepage/profile/user">User Details</a></h3>
            <div style="border: 1px solid; border-radius: 5px; margin-top: 50px;">
                <h3>Reservations</h3>
                <div class="reservation">
                    <a routerLink="/homepage/profile/hotelreservations">Hotel Reservations</a><br>
                    <a routerLink="/homepage/profile/restaurantreservations">Restaurant Reservations</a>
                </div>
            </div>
        </div>
        <button (click)="delete()">Delete Account</button>
    </div>
    <div class="showing">
        <router-outlet></router-outlet>
    </div>
</body>