body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.headings{
    height: 90vh;
    width: 300px;
    text-align: center;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.heading{
    padding: 10px;
    margin-top: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
a{
    color: black;
    text-decoration: none;
}
.heading h3{
    font-size: 25px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
}
.reservation{
    text-align: start;
    font-size: 17px;
    display: none;
}
.heading div:hover .reservation{
    display: block;
}
button{
    margin-bottom: 40px;
    border: none;
    background-color: darkred;
    color: white;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: rgb(98, 0, 0);
}
.showing{
    width: 100%;
    display: flex;
    justify-content: center;
}