<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
</head>

<body style="height: 100vh;">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)" novalidate>
                <h1>Reset Password</h1>
                <input type="number" placeholder="Mobile Number"  (input)="onMobileInput($event)" name="mobile1" #mobile1="ngModel" ngModel required pattern="^[5-9]\d{9}">
				<p style="color: red; margin-bottom: 5px;" *ngIf="mobile1.errors?.['required'] && mobile1.touched">*Enter mobile no.</p>
				<p style="color: red; margin-bottom: 5px;" *ngIf="mobile1.errors?.['pattern'] && mobile1.dirty">*Invalid mobile no.</p>				
				<button>Generate OTP</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Forget Your Password?</h1>
                    <p>Dont worry, just reset it with a otp</p>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>